<div class="banner">
<p>Wikinimous</p>
<p><%= link_to 'New article', new_article_path %></p>
</div>
<h2>
<%= @article.title %>
<%= link_to 'Edit', edit_article_path %>
<%= link_to "Delete",
            article_path(@article),
            method: :delete,
            data: { confirm: "Are you sure?" } %>
</h2>
<p><%= @article.content %></p>
<hr>
<%= link_to 'Back to list', articles_path %>
